<ion-app>
  <ion-header>
  <ion-toolbar class="head">
    <ion-title align="center" style="font-family:Lucida Handwriting;color: white;">Groopet</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bods">
  <ion-card class ="taas">
    <ion-card-header>
      <ion-grid align="center">
        <ion-row>
          <ion-col>
            <div><b>Booking Code</b></div>
          </ion-col>
          <ion-col>
            <div>PAW32423</div>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card-header>
  </ion-card>
  <ion-label> &nbsp; &nbsp; <b>Address</b></ion-label>
  <ion-card class ="taas">
    <ion-card-content>
      <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      Robert Robertson, 1234 NW Bobcat Lane, St. Robert, MO 65584-5678
    </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-label> &nbsp; &nbsp; <b>Service Details</b></ion-label>
  <ion-card class ="taas">
    <ion-card-header>
      <ion-card-title style="color: #c9356c;"><b>KingKong Petshop</b></ion-card-title>
      <ion-card-subtitle style="color: #c9356c;"><b>Full Grooming</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      02/08/2022
    </ion-item>
    <ion-item>
      <ion-icon name="paw" slot="start"></ion-icon>
      2 Dogs
    </ion-item>
    </ion-card-content>
  </ion-card>
  
  <center>
  <ion-button color="primary" routerLink="/payment">Proceed Payment</ion-button>
</center> 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-navbar></app-navbar>
  </ion-toolbar>
</ion-footer>
</ion-app>