<ion-header>
  <ion-toolbar>
    <ion-title align ="center" style="font-family:Lucida Handwriting;background-color:#c4346c;">Groopet</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content style="color:#FFC0CB" [fullscreen]="true">
<ion-card-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><h2>Code Booking &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paw-213451</h2> </ion-card-title>
    </ion-card-header>
  </ion-card>
  </ion-card-content>
  



<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address</h5>

<ion-card-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-item href="">
        <ion-label>
         <h7>123 dimakita St. </h7>
        </ion-label>
        <ion-icon name="location-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-card-header>
  </ion-card>
  </ion-card-content>

  
  <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scheduled</h5>
  <ion-card-content >
    <ion-card color="light">
      <ion-card-header>
           <h7>Date: Aug 5, 2022 :Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12:00pm - 2:00pm <br>
           2 cats
          </h7>
          

      </ion-card-header>
    </ion-card>
    </ion-card-content>
   
    <ion-card-content >
      <ion-card color="light">
        <ion-card-header>
             <h7>Date: Aug 7, 2022 :Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12:00pm - 2:00pm <br>
             1 Dog
            </h7>
            
  
        </ion-card-header>
      </ion-card>
      </ion-card-content>
    
<p style="color:black"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Php 3000</b></p>
      <p style="color:black"><b>&nbsp;&nbsp;&nbsp;Payment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cash </b>
      <br><br><br><br><br><br><br><br><br><br><br>
      <ion-button id="btn" expand="block" > OK</ion-button>
</ion-content>