ion-content
{
  --ion-background-color:#fff2f7;
}

strong
{
  color:black
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-segment-button
{
  --indicator-color: #c9356c;
  --color:black;
}

ion-button
{
  --background:#c9356c;
}

ion-card
{
  --background:#fff2f7;
}

ion-input
{
  --background:#fff2f7;
  --color :#c9356c;
  --placeholder-color::#c9356c;
}

ion-item
{
  --background : #fff2f7;
}
