<ion-header> 
  <ion-toolbar class="heads" > 
    <ion-title align="center" style="font-family:Lucida Handwriting;color: white;">About us</ion-title>
   </ion-toolbar> 
  </ion-header> 
  <ion-content class="main">
    <ion-card-header>
      <ion-card-title style="color: black;">Things we want you to be informed of...</ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: black;" class="hehe" > 
          <p> Our Mission </p>
    </ion-card-content> 

        <ion-card-content style="color: black;" class="hehez" > 
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged </p> </ion-card-content> <ion-card-content style="color: black;" class="hehex" > <p> Our Vision </p>
           </ion-card-content> 

      <ion-card-content style="color: black;" class="hehec" >
             <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged </p>
      </ion-card-content> 

      <ion-card-content style="color: black;" class="hehev" > 
        <p> Team Members </p>
      </ion-card-content> <img src="assets/me.jpg">
      
      <ion-card class = "cardss"> <ion-card-content> <p>Name: Belino Mark Kevin B.<br> Section: IT-3305<BR> Age: 21 <br> Place of birth: Batangas City</p>
       </ion-card-content>
       </ion-card> 
       <img src="assets/BOYET.jpg" class="boy"> 
       <ion-card class = "cardxx"> <ion-card-content> 
        <p>Name: Evangelista Jhon Carlo B.<br> Section: IT-3305<BR> Age: 21 <br> Place of birth: Calapan, Oriental Mindoro</p> 
        
        </ion-card-content> </ion-card> 
        
        <img src="assets/DEEJ.jpg" class="david">
         <ion-card class = "cardvv"> 
          <ion-card-content> <p>Name: Ramirez, David Jezzrel B.<br> Section: IT-3305<BR> Age: 21 <br> Place of birth: Batangas City</p> 
          </ion-card-content> 
        </ion-card> <img src="assets/RAY.jpg" class="raya"> 
        <ion-card class = "cardbb"> 
          <ion-card-content> <p>Name: Laylo, Ray Angelo G.<br> Section: IT-3301<BR> Age: 22 <br> Place of birth: Lipa City, Batangas</p> 
          </ion-card-content>
         </ion-card> 
         <img src="assets/ralph.jpg" class="ralph"> 
         <ion-card class = "cardnn"> 
          <ion-card-content> <p>Name:Mauro, Ralph Dominicque L.<br> Section: IT-3305<BR> Age: 22 <br> Place of birth: Dulangan, Puert Galera, Oriental Mindoro</p> 
          </ion-card-content> 
        </ion-card> 
      </ion-content>