<ion-header>
  <ion-toolbar>
    <ion-title align="center" style="font-family:Lucida Handwriting;background-color:#c4346c;">Groopet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="color:#FFC0CB" [fullscreen]="true">
<h5 style="color:black"><b>&nbsp;&nbsp;&nbsp;Payment Summary</b></h5>
<p style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subtotal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Php 3000</p>
<p style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee Service &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Php 5000</p>
<p style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Php 5000</p>
<p style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shuttle &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Php 6000</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ion-button id="btn" expand="block" > Continue Payment </ion-button>
</ion-content>
