.head {
    --background: #c4346c;
}

.booking{
    --background: #f7eaf3;
}

.newb{
    top: 37%;
    left: 25%;
    width: 360px;
    height: 120px;
    margin: -100px 0 0 -100px;
}

.temp{
    --background: #f7eaf3;
    --color: black;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 27%;
    left: 30%;
    width: 360px;
    height: 120px;
    margin: -100px 0 0 -100px;
}

.ion-activated{
        background-color: transparent;
        width:100%;
        border: solid 1px red;
}

.avatar2 {
    width: 70px;
    height: 70px;
}

.new1{
    --background: #f7eaf3;
    --color: black;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 55%;
    left: 30%;
    width: 360px;
    height: 120px;
    margin: -100px 0 0 -100px;
}

.new2{
    --background: #f7eaf3;
    --color: black;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 78%;
    left: 30%;
    width: 360px;
    height: 120px;
    margin: -100px 0 0 -100px;
}

#icons1{
    position: absolute;
    top: 115%;
    left: 28%;
    width: 20px;
    height:  20px;
    margin: -100px 0 0 -100px;
}

#icons2{
    position: absolute;
    top: 115%;
    left: 28%;
    width: 20px;
    height:  20px;
    margin: -100px 0 0 -100px;
}
.foot {
    --background: #f7eaf3;
}
#btn{
    --background:#c4346c;
}